.request {
  flex: 4;
  padding: 20px;
}

.requestTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.requestContainer {
  display: flex;
  margin-top: 20px;
}

.requestShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.requestUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.requestShowTop {
  display: flex;
  align-items: center;
}

.requestShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.requestShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.requestShowUsername {
  font-weight: 600;
}

.requestShowUserTitle {
  font-weight: 300;
}

.requestShowBottom{
    margin-top: 20px;
}

.requestShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.requestShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.requestShowIcon{
    font-size: 16px !important;
}

.requestShowInfoTitle{
    margin-left: 10px;
}

.requestUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.requestUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.requestUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.requestUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.requestUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.requestUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}