.requestList {
  flex: 4;
}

.requestListUser {
  display: flex;
  align-items: center;
}

.requestListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.requestListView{
    border-width: 1px;
    border-color: #4a5ac6;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #4a5ac6;
    cursor: pointer;
    margin-right: 20px;
    
}

.requestListView:hover{
  border: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #727dc8c0;
    cursor: pointer;
    margin-right: 20px;
    
}

.requestListDelete{
    color: rgb(78, 78, 78);
    cursor: pointer;
}

.requestButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.in-progress{
    background-color: #e5faf2;
    color: #3bb077;
}
.canceled{
    background-color: #fff0f1;
    color: #d95087;

}
.completed{
    background-color: #a950d91b;
    color: #a950d9;

}.pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}